@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

li {
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    list-style-type: none;
    padding: 1%;
}

li:hover {
    background-color: #07090D;
    color: white;
    transform: scale(1.05); 
    box-shadow: 0 4px 12px #313542; 
    border-radius: 15px;
}

.Conteiner_Header{
    display: flex;
    background-color: #8dc087ad;
    justify-content: space-around;
    gap: 50px;
    padding-right: 2rem;
}

.Conteiner_Header img{
    width: 30px;
}

.Conteiner_Main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 2%;
    font-family: "Roboto", sans-serif;
}

.Estilizar_Agrupamento{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 2%;
    height: 60vh;
    border-radius: 40px;
    width: 86%;
}

.Conteiner_Main h1{
    color: #959CB1;
    font-size: 40px;
    font-weight: 600;
}

.Conteiner_Main p{
    font-size: 30px;
    font-weight: 300;
    color: #959CB1;
}

.Imagem_Kairo{
    width: 50vh;
    border-radius: 60px;
    object-fit: cover;
    border: 4px solid #959CB1;
}

strong{
    color: #8DC087;
}

.Organizando_png img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
}